[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==18.2.0"
boto3 = "==1.9.41"
botocore = "==1.12.41"
breadability = "==0.1.20"
bson = "==0.5.7"
certifi = "==2018.10.15"
cffi = "==1.11.5"
chardet = "==3.0.4"
click = "==6.7"
clickclick = "==1.2.2"
cloudpickle = "==0.5.2"
colorama = "==0.4.0"
coloredlogs = "==9.0"
connexion = "==2.0.1"
constantly = "==15.1.0"
cymem = "==1.31.2"
cytoolz = "==0.9.0.1"
dill = "==0.2.8.2"
docopt = "==0.6.2"
docutils = "==0.14"
duckling = "==1.8.0"
en-core-web-md = "==2.0.0"
en-core-web-sm = "==2.0.0"
fakeredis = "==0.10.3"
future = "==0.16.0"
gevent = "==1.3.7"
greenlet = "==0.4.15"
humanfriendly = "==4.17"
hyperlink = "==17.3.1"
idna = "==2.6"
incremental = "==17.5.0"
inflection = "==0.3.1"
itsdangerous = "==0.24"
jdcal = "==1.4"
jieba = "==0.39"
jmespath = "==0.9.3"
jsonpickle = "==0.9.6"
jsonschema = "==2.6.0"
kiwisolver = "==1.0.1"
klein = "==17.10.0"
lxml = "==4.2.5"
matplotlib = "==3.0.1"
msgpack = "==0.5.6"
msgpack-numpy = "==0.4.4.2"
msgpack-python = "==0.5.4"
murmurhash = "==0.28.0"
nltk = "==3.3"
numpy = "==1.14.5"
openapi-spec-validator = "==0.2.4"
openpyxl = "==2.5.9"
pandas = "==0.23.4"
pathlib = "==1.0.1"
plac = "==0.9.6"
preshed = "==1.0.1"
pycparser = "==2.19"
pymongo = "==3.7.2"
pyparsing = "==2.3.0"
pyreadline = "==2.1"
python-crfsuite = "==0.9.6"
python-dateutil = "==2.7.5"
pytz = "==2018.7"
rasa-nlu = "==0.13.7"
redis = "==2.10.6"
regex = "==2017.4.5"
requests = "==2.18.4"
"ruamel.yaml" = "==0.15.37"
s3transfer = "==0.1.13"
scikit-learn = "==0.20.0"
scipy = "==1.1.0"
simplejson = "==3.13.2"
six = "==1.11.0"
sklearn-crfsuite = "==0.3.6"
spacy = "==2.0.11"
sumy = "==0.7.0"
swagger-ui-bundle = "==0.0.2"
tabulate = "==0.8.2"
thinc = "==6.10.3"
toolz = "==0.9.0"
tqdm = "==4.19.5"
typing = "==3.6.4"
ujson = "==1.35"
urllib3 = "==1.22"
virtualenv = "==16.1.0"
wrapt = "==1.10.11"
xlrd = "==1.0.0"
"zope.interface" = "==4.5.0"
Automat = "==0.7.0"
Cycler = "==0.10.0"
et_xmlfile = "==1.0.1"
Flask = "==1.0.2"
Jinja2 = "==2.10"
JPype1 = "==0.6.2"
MarkupSafe = "==1.0"
PyHamcrest = "==1.9.0"
PyYAML = "==3.12"
Twisted = "==18.9.0"
Werkzeug = "==0.14.1"
XlsxWriter = "==1.0.5"
scrapy = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.8"
